Source: libasr
Priority: optional
Maintainer: Ryan Kavanagh <rak@debian.org>
Build-Depends: debhelper (>= 9)
 , automake (>= 1.5)
 , libssl-dev
 , libtool
Standards-Version: 3.9.6
Section: libs
Homepage: https://github.com/OpenSMTPD/libasr
Vcs-Git: git://anonscm.debian.org/collab-maint/libasr.git
Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/libasr.git;a=summary

Package: libasr-dev
Section: libdevel
Architecture: any
Depends: libasr0 (= ${binary:Version}), ${misc:Depends}
Description: asynchronous DNS resolver (development files)
 libasr provides a simple interface for asynchronous address resolution and
 nameserver querying. It should be used in place of the classical resolver
 functions of libc when blocking is not desirable. libasr is thread-safe and
 lock-free internally except for the two atypical use cases listed in
 asr_run(3).
 .
 This package provides the development files for libasr0.

Package: libasr0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: asynchronous DNS resolver
 libasr provides a simple interface for asynchronous address resolution and
 nameserver querying. It should be used in place of the classical resolver
 functions of libc when blocking is not desirable. libasr is thread-safe and
 lock-free internally except for the two atypical use cases listed in
 asr_run(3).
